@media only screen and (max-width:1024px){
  body{
    font-size: 20px;
  }
}
@media only screen and (max-width:980px){
  body{
    font-size: 14px;
  }
}
@media only screen and (max-width:720px){
  body{
    font-size: 14px;
  }
}
@media only screen and (max-width:480px){
  body{
    font-size: 14px;
  }
@media only screen and (max-width:320px){
  font-size: 12px;
}
}
body{
    font-family: 'Alegreya', serif;
    font-family: 'PT Sans Narrow', sans-serif;
 min-height: 100vh;
}
/* 1st page */
.header{
 min-height: 100vh;
  background:linear-gradient(rgba(250, 252, 249, 0.8),rgba(65, 148, 176, 0.7)) ,url(../img/img-1244-copy-1527105676018-1554036868445.jpg)center/cover no-repeat fixed;
}

.login{
position: absolute;
top:15vh;
background: white;
padding: 30px;
border-radius: 10px !important;
box-shadow: 0px 0px 10px 0px black !important;
}

nav {
  width: 100%;
  margin: 0 auto;
  background: #fff;
  box-shadow: 0px 5px 0px #dedede;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: #aaa;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
nav ul li a:hover {
  color: #555;
}


/* SHIFT */
nav.shift ul li a {
  position:relative;
  z-index: 1;
}
nav.shift ul li a:hover {
  color: #91640F;
}
nav.shift ul li a:after {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #F1C40F;
  visibility: none;
  opacity: 0;
  z-index: -1;
}
nav.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}


/* end of 1st page  */
/* registration form */

.form{
  min-height: 100vh;
  background:  linear-gradient(rgba(246, 246, 246, 0.3),rgba(161, 212, 226, 0.5)) ;
}
fieldset{
  border: 2px solid black;
}
.jumbotron{
  background: linear-gradient(rgba(248, 248, 248, 0.5),rgba(195, 221, 226, 0.4));
}
.personal-info{
background: linear-gradient(rgba(248, 248, 248, 0.5),rgba(176, 228, 240, 0.4));
}
table, th,td {
  border: 1px solid black;
  border-collapse: collapse;
}
td{
  vertical-align: middle;
}

.board-result{
margin-top: 7%;
background: linear-gradient(rgba(248, 248, 248, 0.5),rgba(176, 228, 240, 0.4));
}

.clg-result{
 background: linear-gradient(rgba(248, 248, 248, 0.5),rgba(176, 228, 240, 0.4));
}
.footer{
  background: linear-gradient(rgba(248, 248, 248, 0.5),rgba(176, 228, 240, 0.4));
  border: 2px solid black;
  
}


#collegeResult a {
    border-left-style: solid;
    padding-right: 50px;
    border-color: rgb(120, 113, 113);
    color: rgb(120, 109, 66);
    text-decoration: none;
    padding-left: 50px;
}

#collegeResult a:hover {
    color: rgb(230, 17, 17);
}
/* .table{
  border: 2px solid black;
}
thead{
  border: 1px solid black;
} */